* {
  -webkit-touch-callout:none;
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-select:none;
}

.Panel__in {
  height: 100%;
  background-image: url('../images/game-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $global-font;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  user-select: none;
  color: $color-text;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-progress {
  flex: 1;
  width: 100%;
  font-size: 24px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    position: relative;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  position: relative;
}

.cell {
  position: relative;
  cursor: pointer;
}

.inner {
  position: absolute;
  border-radius: 2%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: $color-text-cell;
  margin: .5vw .5vw;
  background: $color-inactive-cell;
  opacity: .5;
}

.rules {
  font-size: .4em;
}

.button {
  background-color: $color-primary;
  color: $color-button-text;
  border-radius: 3%;
  text-decoration: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: 0 !important;
}

.button:hover {
  background-color: $color-primary-light;
}

.show-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .message {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-shadow: 0 0 2px #fff,
      0 0 10px $color-text-shadow,
      0 0 20px $color-text-shadow;
  }
}

.hide-message {
  display: none;
}

.TAP {
  background: $color-tap-cell;
  opacity: 1;
}

.WAIT {
  background: $color-wait-cell;
  opacity: 1;
}



.progress-bar {
  min-width: 60px;
  min-height: 60px;
  
  background: transparent;
  position: relative;
  outline: none;

  font-size: 24px;
  color: #fff;
  padding: 10px;

  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;

  text-shadow: 0 0 2px #fff,
    0 0 10px $color-text-shadow,
    0 0 20px $color-text-shadow;
}

.animation-circle {
  content: '';
  width: 60px;
  height: 60px;
  opacity: 0;
  
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  border-radius: 100%;
  border: 6px solid #ccc;
  
  transform: translate(-50%, -50%);
}