* {
  -webkit-touch-callout:none;
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-select:none;
}

.game {
  text-align: center;
  user-select: none;
  color: $color-text;
  font-family: 'Helvetica', sans-serif, 'Arial';
}

.cell {
  position: relative;
  float: left;
  cursor: pointer;
}

.inner {
  position: absolute;
  border-radius: 2%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: $color-text-cell;
  margin: .2vw .2vw;
  background-color: $color-inactive-cell;
}

.rules {
  font-size: .4em;
}

.button {
  background-color: $color-primary;
  color: $color-button-text;
  border-radius: 3%;
  text-decoration: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: 0 !important;
}

.button:hover {
  background-color: $color-primary-light;
}

.show-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hide-message {
  display: none;
}

.TAP {
  background-color: $color-tap-cell;
}

.WAIT {
  background-color: $color-wait-cell;
}
