// colors
$color-primary: #0000ff;
$color-primary-light: #1E90FF;

$color-tap-cell: #008000;
$color-wait-cell: #ff0000;
$color-inactive-cell: #dcdcdc;
$color-text-cell: #fff;

$color-text: #444;
$color-button-text: #fff;