.game {
  text-align: center;
  user-select: none;
  font-family: 'Helvetica', sans-serif, 'Arial';
}

.cell {
  position: relative;
  float: left;
  cursor: pointer;
}

.inner {
  position: absolute;
  border-radius: 2%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: .1vw .1vw;
  background-color: lightgray;
}

.rules {
  font-size: .4em;
}

.button {
  background-color: blue;
  color: #fff;
  border-radius: 3%;
  text-decoration: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: 0 !important;
}

.show-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #363636;
  top: 0;
  left: 0;
  z-index: 1;
}

.hide-message {
  display: none;
}

.TAP {
  background-color: green;
}

.WAIT {
  background-color: red;
}
