.game {
  text-align: center;
}

.cell {
  position: relative;
  float: left;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: .2vw .2vw;
  background-color: lightgray;
}

.button {
  background-color: blue;
  color: #fff;
  border-radius: 3%;
  text-decoration: none;
  border: none;
  box-shadow: none;
  outline: 0 !important;
}

.show-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hide-message {
  display: none;
}

.TAP {
  background-color: green;
}

.WAIT {
  background-color: red;
}
