.game {
  text-align: center;
}

.cell {
  position: relative;
  float: left;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: black;
  margin: .2vw .2vw;
  background-color: lightgray;
}

/*.TAP {*/
  /*background-color: green;*/
/*}*/

/*.WAIT {*/
  /*background-color: red;*/
/*}*/

/*.cell.disabled {*/
  /*background-color: lightgray;*/
/*}*/

